*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*start header*/
header{
    width: 100%;
    height: 800px;
    background: url(../img/header/HeaderImg.png) center center/cover no-repeat;
}

nav{
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: space-between;
    background: rgba(33, 33, 33, 0.4);
}

.container{
    position: relative;
    width: 1140px;
    margin: 0 auto;
    display: flex; 
}

.menu, .logo{
    display: flex;
    justify-content: right;
    width: 100%;
    height: 70px;
    padding: 13px 0;
    margin: 0;
    list-style-type: none;
    color: #ffffff;
    align-items: center;
}

.topheader{
    display: flex;
	justify-content: left;
    width: 300px;
}

.logo{
    justify-content: space-between;
    align-items: center;
}

.logo-text > a{
    text-decoration: none;
    color: #fff;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}

.text{
    padding-left: 8px;
    border-left: 1px solid #19889e;
    font-size: 18px;
    opacity: 0.5;
}

.active{
    border-top: 2px solid blue;
}

.menu_link{
    padding-top: 23px;
    margin-right: 40px;
    font-size: 13px;
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
}

.menu_link:hover {
    color: #1eacc7;
    border-top: 2px solid blue;
}

.humburger{
    display: none;
}

.radio, .radio_black{
    display: flex;
    justify-content: right;
    align-items: end;
    height: 45%;
}

.radio__button, .radio_black_button{
    margin: 15px 38px 15px 0px;
    width: 10px;
    height: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

.radio .radio__active{
    background: #fff;
}

.header_text{
    text-align: center;
    color: white;
	font-size: 45px;
}

.meet, .social_item{
    text-decoration: none;
    color: white;
}

.creative {
	color: #0ed691;
}

.text-16, .love{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 100;
    margin-top: 15px;
}

.text-16::before, .text-16::after,
.love::before, .love::after{
    display: block;
    content: "";
    background: #0ed691;
    height: 1px;
    width: 25px;
}

.text-16::before, .love::before{
    margin-right: 25px;
}

.text-16::after, .love::after{
    margin-left: 25px;
}

.social{
    text-align: center;
    margin-top: 8%;
}

.social_item{
    margin: 0px 5px 0px 5px;
}

.fab{
    color: #fff;
    font-size: 20px;
    opacity: 0.5;
}

.fab:hover{
    opacity: 1;
    color: #fff;
}
/*end header*/
/*start features*/
#features{
    height: 460px;
	background-color: #f4f7f9;
}

#features .container, #works .container, #team .container, #facts .container, #contact .container{
    flex-direction: column;
}

.subheader{
    margin-top: 75px;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0ed691;
    font-size: 24px;
    font-weight: bold;
}

.love{
    margin-top: 15px;
    font-size: 20px;
}

.love::before, .love::after{
    background: gray;
    opacity: 0.1;
    width: 125px;
    height: 2px;
}

.fa{
    color: gray;
    opacity: 0.5;
}

.features__decsription{
    margin-top: 75px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.branding, .development, .consulting{
    width: 31%;
    height: 100%;
    display: flex;
}

.img_circle{
    width: 50px;
    height: 50px;
    border: 1px solid #0ed691;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.branding_text, .development_text, .consulting_text{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}

.branding_text p, .development_text p, .consulting_text p{
    margin-top: 15px;
    font-size: 12px;
    color: gray;
    text-transform: initial;
}

.radio_black{
    margin-top: 25px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.radio_black_button{
    margin: 0px 10px 0px 10px;
}

.radio_black_active{
    background: #000;
}
/*end features*/
/*start works*/
#works{
    min-height: 945px;
}

.subheader_text{
    margin: 35px auto;
    width: 66%;
    color: gray;
    text-align: center;
    font-size: 16px;
}

.works_button{
    margin: 0 auto;
}

.btn{
	font-size: 14px;
	height: 30px;
	min-width: 40px;
	margin-right: 15px;
    padding: 0px 10px;
	border: 0px;
	background-color: white;
	font-weight: bold;
}

.btn-active, .btn:hover{
    color: white;
	background: #0ed691;
	border: 0px;
	border-radius: 10px;
}

.works_container{
    margin-top: 35px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 300px);
}

.works_container div{
    height: 100%;
    width: 100%;
}
.slider {
    width: 600px;
    height: 534px;
    overflow: hidden;
    position: relative;
}

.slider img {
    width: 100%;
    height: auto;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.slider-controls {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-controls button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 40px;
}

.hover{
    width: 100px;
    height: 100%;
    background-color: rgba(14, 180, 147);
    display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
    opacity: 0;
}

.hover_content{
	color: #fff;
	margin-top: 25%;
	height: 50%;
	width: 50%;
	opacity: 1;
}

.hover_text{
	color: white;
	opacity: 1;
    font-weight: bold;
    margin-bottom: 5px;
}

.hover:hover {
	opacity: 1;
    background-color: rgba(14, 180, 147, 0.8);
	height: 100%;
	width: 100%;
}
/*end works*/
/*start team*/
#team{
    height: 733px;
}

.team_people{
    display: flex;
    justify-content: space-between;

}

.people{
    width: 20%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#p1{
    width: 100%;
    height: 260px;
    background: url(../img/meet/1.png) center center/cover no-repeat;
}
#p2{
    width: 100%;
    height: 260px;
    background: url(../img/meet/2.png) center center/cover no-repeat;
}
#p3{
    width: 100%;
    height: 260px;
    background: url(../img/meet/3.png) center center/cover no-repeat;
}
#p4{
    width: 100%;
    height: 260px;
    background: url(../img/meet/4.png) center center/cover no-repeat;
}

.team_people .hover_content{
    margin: 0;
    height: 100%;
	width: 100%;
    padding: 20px 10px 0 10px;
}

.team_people .hover_content .hover_text{
    font-size: 13px;
}

.team_people .hover_content .hover_item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 35px;
}

.team_people .hover_content .link{
    text-decoration: none;
    display: block;
    width: 35px;
    height: 35px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 8px 0px;
}

.team_people .hover_content .link .fab{
    opacity: 1;
    color: #fff;
}

.team_people .hover_content .link .fab:hover{
    color: blue;
}

.people_description{
    margin: 10px 0px;
    padding: 0px 0px 20px 0px;
    color: #0ed691; 
    font-size: 18px;
    font-weight: bold;
}

.people_description p{
    margin-top: 12px;
    text-align: center;
    font-weight: 300;
    color: gray; 
    font-size: 13px;
}
/*end team*/
/*start facts*/
#facts{
    height: 600px;
    background: url(../img/part7/1.png) center center/cover no-repeat;
}

.vpart{
    height: 100%;
    width: 100%;
    background: rgba(6, 32, 51, 0.8);
}

#facts .subheader{
    margin-top: 75px;
}

#facts .love::before, #facts .love::after{
    background: gray;
    opacity: 0.8;
    width: 125px;
    height: 2px;
}

#facts .subheader .fa{
    color: #fff;
    opacity: 1;
}

.statistics{
    margin-top: 15px;
    display: flex;
	justify-content: space-between;
}

.g1{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: white;
}

.img{
    height: 130px;
    width: 130px;
}

.statistics_value{
    font-size: 60px;
    margin-top: 40px;
}

.statistics_text{
    font-size: 18px;
    text-transform: uppercase;
}
/*end facts*/
/*start contact*/
.text0{
    display: flex;
    justify-content: space-between;
}

.text1{
    width: 20%;
}

.text1 p{
    font-size: 20px;
}

.text1 div{
    padding-top: 15px;
    color: grey;
    margin-bottom: 155px;
}

.text1 div p, .text1 div a{
    font-size: 14px;
    text-decoration: none; 
    color: grey
}

.text2 {
	width: 70%;
}

.text2 p{
    font-size: 24px; 
    font-weight:bold; 
    color: black;
}

.text2 form{
    margin-top: 25px;
    width: 100%;
    display: flex; 
    flex-direction: column;
}

.get_info{
    display: flex;
    justify-content: space-between;
}

.get_info label{
    width: 48%;
}

.message{
    margin-top: 25px;
    width: 100%;
}

.text2 input{
    padding: 20px;
	width: 100%;
	height: 20px;
	border: 0px;
	border-bottom: 1px solid grey;
	outline: none;
	font-size: 20px;
	color: black;

}

.send{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.btn_send{
    border: none;
    background: transparent;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.fa-message{
    background: url(../icon/part9/Envelope.png) center center/cover no-repeat;
    height: 13px;
    width: 20px;
    margin: 5px 6px 0px 0px;
}

.btn_send:hover{
    color:#0ed691;
}

.text3{
    margin-top: 80px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text3 .fab{
    color: gray;
    font-size: 20px;
}
/*end contact*/
/*start map*/
.map{
    height: 215px; 
    width: 100%;
    background: url(../img/Map.png) center center/cover no-repeat;
    border-bottom: 4px solid black;
}


.weather-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.weather-icon {
    width: 100px;
    height: 100px;
}

.weather-description {
    margin-top: 10px;
}



/*end map*/
/*start footer*/
footer{
    height: 500px;
    width: 100%;
    background: #1ea78d;
    padding-top: 120px;
}

footer .container{
    flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

footer .fext1, footer .fext2{
    display: flex;
	flex-direction: column;
}

footer .fext1{
    width: 22%;
}

footer .fext2{
    width: 22%;
}

.fext_text{
    font-size: 14px;
    color: #d2ede8;
}

.fext_description{
    margin-top: 25px;
    color: #fff; 
    font-size: 13px;
}

footer .logo-text{
    color: #fff;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}
footer a{
    cursor: pointer;
}
.search{
    margin-top: 25px;
    display: flex;
}

.search1{
    padding-left: 5px;
    color: #fff;
    outline: none;
    background: none;
    font-size: 28px;
    width: 220px;
    border: 3px solid #fff;
    border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
    border-right: none;
}

.search2{
    border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	height: 47px;
	width: 50px;
	border: 3px solid #fff;
	border-left: none;
}

.bearch{
    margin-top: 16px;
	margin-left: 2px;
    background: url(../icon/footer/button.png);
    height: 13px;
	width: 18px;
	border: none;
}

.fext3 {
	width: 20%;
	display: flex;
	flex-direction: column;
}

.fext3_grid{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    color: #fff;
	font-size: 13px;
	background: #1ea78d;
	text-align: left;
}

.block1, .block2{
    display: flex;
    flex-direction: column;
}

.block1 a, .block2 a{
    padding: 5px 0px;
}

.fext4 {
	width: 20%;
}

.fext4 div:first-child{
    border-left: 1px solid black;
    margin: 60px 0px 45px 0px;
    padding-left: 5px;
}

.fext4 div:first-child p:first-child{
    color: #fff;
    font-size: 13px
}

.fext4 div:first-child p:first-child span{
    color: #000;
}
/*end footer*/